<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>목록 추가하기</h1>
    <hr>

    <form action="/create" method="POST">
        <table>
            <tr>
                <td><input type="text" name="id" placeholder="아이디 입력하세요."></td>
            </tr>
            <tr>
                <td><input type="password" name="pw" placeholder="패스워드를 입력하세요."></td>
            </tr>
            <tr>
                <td><input type="text" name="name" placeholder="사용자 이름 입력하세요."></td>
            </tr>
        </table>
        <input type="submit" value="전송하기">
    </form>

    <h3>결과 확인하기</h3>
    <table>
        <% for(let data of result) { %>
        <tr>
          <td><%= data.name %></td>
          <td><%= data.id %></td>
          <td><%= data.pw %></td>
        </tr>
        <% } %>
    </table>

</body>
</html>
